<% layout('layouts/app')%>
  <h1>All Places</h1>
  <a href="/place/create">Creat new place</a>
  <ul>
    <% for(const place of places){ %>
      <li><a href="/place/<%= place._id %>"><%= place.title %></a></li>
    <% } %>
  </ul>